.html body {
    margin: 0;
    padding: 0;
}
.div_spacing {
    width: 100%;
}

.table_rights {
    font-family: PingFang-SC-Medium;
    font-size: 24px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
}

.table_rights tr {
    height: 40px;
    vertical-align: middle;
}

.table_rights tr td:nth-child(3) {
    background: rgba(255,223,172,0.20);
}

.table_rights tr td img {
    width: 20px;
    height: 20px;
}

.font_rule {
    display: block;
    font-family: PingFang-SC-Medium;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
   /font-weight: bolder;
}
.font_hope {
    font-family: PingFang-SC-Medium;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
}

.table_rights > thead > tr > td,
.table_rights > tbody > tr > td{
    vertical-align: middle;
    text-align: center;
    font-family: PingFang-SC-Medium;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    font-weight: bolder;
}
.vip_span:before {
   /* content: url(/images/ico_membership.png);*/
}

.div_openmember {

    width:80%;
    height: 49px;
    background-image: linear-gradient(90deg, #E8C78F 0%, #C6904A 100%);
    border-radius: 24.5px;
    border-radius: 24.5px;
    text-align: center;
    line-height: 49px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

/*多开分身免费领会员 begin*/
.div_participate {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(90deg, #FFECC1 0%, #FFC56D 100%);

    font-family: PingFangSC-Semibold;
    font-size: 20px;
    line-height: 50px;
    color: #D20F1C;
    text-align: center;
    font-weight: bolder;
}

.div_pickuptips {
    font-family: PingFangSC-Medium;
    font-size: 15px;
    line-height: 22px;
    color: #FFEBBF;
}

/*多开分身免费领会员 end*/


/*用户注册及使用APP隐私协议 begin*/

.agreement {
    width:100%;
    padding: 0 5%;
}
.agreement h2 {
    text-align: center;
    font-family: PingFang-SC-Medium;
    font-size: 20px;
    font-weight: bolder;
}

.agreement h4 {
    font-family: PingFang-SC-Medium;
    font-size: 14px;
    color: #222222;
    letter-spacing: 0;
    line-height: 22px;
}

.content_agreement {
    margin-bottom: 30px;
    margin: 0 auto;
}

.content_agreement p {
    font-family: PingFang-SC-Medium;
    font-size: 14px;
    color: #222222;
    letter-spacing: 0;
    line-height: 22px;
}


.content_agreement li {
    font-family: PingFang-SC-Medium;
    font-size: 14px;
    color: #222222;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 10px;

}
/*用户注册及使用APP隐私协议 end*/


.btncanyu {
    width: 80%;
    margin-left: 10%;
    padding:10px 0px;
    background: #F46C53;
    border-radius:20px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing:1.6px;
    text-align: center;
    border: none;
    font-weight: bold;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

.div_text p {
    color: #FFEBBF;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}
.betweenLR{
    margin:0px 15px;
}


