<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.server.mapper.FeedbackMapper">
  <resultMap id="BaseResultMap" type="com.rpa.server.pojo.FeedbackPO">
    <id column="feedback_id" jdbcType="INTEGER" property="feedbackId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="user_device_id" jdbcType="INTEGER" property="userDeviceId" />
    <result column="context" jdbcType="CHAR" property="context" />
    <result column="contact" jdbcType="CHAR" property="contact" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="url" jdbcType="CHAR" property="url" />
    <result column="manufacturer" jdbcType="CHAR" property="manufacturer" />
    <result column="androidmodel" jdbcType="CHAR" property="androidmodel" />
    <result column="buildversion" jdbcType="TINYINT" property="buildversion" />
    <result column="versioncode" jdbcType="INTEGER" property="versioncode" />
    <result column="buildrelease" jdbcType="CHAR" property="buildrelease" />
  </resultMap>
  <sql id="Base_Column_List">
    feedback_id, user_id, device_id, user_device_id, context, contact, create_time, url, 
    manufacturer, androidmodel, buildversion, versioncode, buildrelease
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_feedback
    where feedback_id = #{feedbackId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_feedback
    where feedback_id = #{feedbackId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.server.pojo.FeedbackPO">
    insert into t_feedback (feedback_id, user_id, device_id, 
      user_device_id, context, contact, 
      create_time, url, manufacturer, 
      androidmodel, buildversion, versioncode, 
      buildrelease)
    values (#{feedbackId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, 
      #{userDeviceId,jdbcType=INTEGER}, #{context,jdbcType=CHAR}, #{contact,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{url,jdbcType=CHAR}, #{manufacturer,jdbcType=CHAR}, 
      #{androidmodel,jdbcType=CHAR}, #{buildversion,jdbcType=TINYINT}, #{versioncode,jdbcType=INTEGER}, 
      #{buildrelease,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.server.pojo.FeedbackPO">
    insert into t_feedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="feedbackId != null">
        feedback_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="userDeviceId != null">
        user_device_id,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="androidmodel != null">
        androidmodel,
      </if>
      <if test="buildversion != null">
        buildversion,
      </if>
      <if test="versioncode != null">
        versioncode,
      </if>
      <if test="buildrelease != null">
        buildrelease,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="feedbackId != null">
        #{feedbackId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="userDeviceId != null">
        #{userDeviceId,jdbcType=INTEGER},
      </if>
      <if test="context != null">
        #{context,jdbcType=CHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=CHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=CHAR},
      </if>
      <if test="androidmodel != null">
        #{androidmodel,jdbcType=CHAR},
      </if>
      <if test="buildversion != null">
        #{buildversion,jdbcType=TINYINT},
      </if>
      <if test="versioncode != null">
        #{versioncode,jdbcType=INTEGER},
      </if>
      <if test="buildrelease != null">
        #{buildrelease,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.server.pojo.FeedbackPO">
    update t_feedback
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="userDeviceId != null">
        user_device_id = #{userDeviceId,jdbcType=INTEGER},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=CHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=CHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=CHAR},
      </if>
      <if test="androidmodel != null">
        androidmodel = #{androidmodel,jdbcType=CHAR},
      </if>
      <if test="buildversion != null">
        buildversion = #{buildversion,jdbcType=TINYINT},
      </if>
      <if test="versioncode != null">
        versioncode = #{versioncode,jdbcType=INTEGER},
      </if>
      <if test="buildrelease != null">
        buildrelease = #{buildrelease,jdbcType=CHAR},
      </if>
    </set>
    where feedback_id = #{feedbackId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.server.pojo.FeedbackPO">
    update t_feedback
    set user_id = #{userId,jdbcType=BIGINT},
      device_id = #{deviceId,jdbcType=BIGINT},
      user_device_id = #{userDeviceId,jdbcType=INTEGER},
      context = #{context,jdbcType=CHAR},
      contact = #{contact,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=CHAR},
      manufacturer = #{manufacturer,jdbcType=CHAR},
      androidmodel = #{androidmodel,jdbcType=CHAR},
      buildversion = #{buildversion,jdbcType=TINYINT},
      versioncode = #{versioncode,jdbcType=INTEGER},
      buildrelease = #{buildrelease,jdbcType=CHAR}
    where feedback_id = #{feedbackId,jdbcType=INTEGER}
  </update>
</mapper>