<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.server.mapper.WxSupportMapper">
  <resultMap id="BaseResultMap" type="com.rpa.server.pojo.WxSupportPO">
    <id column="w_id" jdbcType="INTEGER" property="wId" />
    <result column="package_name" jdbcType="CHAR" property="packageName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="extra" jdbcType="CHAR" property="extra" />
  </resultMap>
  <sql id="Base_Column_List">
    w_id, package_name, create_time, update_time, a_id, extra
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_wxsupport
    where w_id = #{wId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_wxsupport
    where w_id = #{wId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.server.pojo.WxSupportPO">
    insert into t_wxsupport (w_id, package_name, create_time, 
      update_time, a_id, extra
      )
    values (#{wId,jdbcType=INTEGER}, #{packageName,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{aId,jdbcType=INTEGER}, #{extra,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.server.pojo.WxSupportPO">
    insert into t_wxsupport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wId != null">
        w_id,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="extra != null">
        extra,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wId != null">
        #{wId,jdbcType=INTEGER},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.server.pojo.WxSupportPO">
    update t_wxsupport
    <set>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aId != null">
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="extra != null">
        extra = #{extra,jdbcType=CHAR},
      </if>
    </set>
    where w_id = #{wId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.server.pojo.WxSupportPO">
    update t_wxsupport
    set package_name = #{packageName,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      a_id = #{aId,jdbcType=INTEGER},
      extra = #{extra,jdbcType=CHAR}
    where w_id = #{wId,jdbcType=INTEGER}
  </update>
</mapper>