<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.web.mapper.AdChannelMapper">
    <resultMap id="BaseResultMap" type="com.rpa.web.pojo.AdChannelPO">
        <result column="ad_id" jdbcType="INTEGER" property="adId"/>
        <result column="soft_channel_id" jdbcType="INTEGER" property="softChannelId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="app_id" jdbcType="INTEGER" property="appId"/>
        <result column="dr" jdbcType="TINYINT" property="dr"/>
    </resultMap>

    <select id="queryByIds" resultMap="BaseResultMap">
        select ad_id, soft_channel_id, create_time, update_time, `type`, app_id, dr
        from t_ad_channel
        where ad_id = #{adId,jdbcType=INTEGER}
        AND soft_channel_id = #{softChannelId}
        AND app_id = #{appId}
    </select>

    <select id="query" resultType="com.rpa.web.domain.AdChannelDO">
        select ac.ad_id as adId, ac.type, sc.name, a.versionname, a.app_id as appId, sc.soft_channel_id as softChannelId
        from t_ad_channel ac
        left join t_soft_channel sc on ac.soft_channel_id = sc.soft_channel_id
        left join t_app a on ac.app_id = a.app_id
        where ac.ad_id = #{adId}
        <if test="name != null and name != ''">
            and sc.name like '%' #{name} '%'
        </if>
        <if test="appId != null and appId != ''">
            and a.app_id =  #{appId}
        </if>
    </select>

    <update id="update" parameterType="com.rpa.web.pojo.AdChannelPO">
    update t_ad_channel
    set type = #{type,jdbcType=TINYINT}
    where ad_id = #{adId,jdbcType=INTEGER}
        AND soft_channel_id = #{softChannelId}
        AND app_id = #{appId}
  </update>

    <insert id="insert" parameterType="com.rpa.web.pojo.AdChannelPO">
    insert into t_ad_channel (ad_id, soft_channel_id, create_time,
      update_time, `type`, app_id,
      dr)
    values (#{adId,jdbcType=INTEGER}, #{softChannelId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{type,jdbcType=TINYINT}, #{appId,jdbcType=INTEGER},
      #{dr,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.rpa.web.pojo.AdChannelPO">
        insert into t_ad_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adId != null">
                ad_id,
            </if>
            <if test="softChannelId != null">
                soft_channel_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="dr != null">
                dr,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adId != null">
                #{adId,jdbcType=INTEGER},
            </if>
            <if test="softChannelId != null">
                #{softChannelId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=INTEGER},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
</mapper>