<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.web.mapper.BannerConfigMapper">
  <resultMap id="BaseResultMap" type="com.rpa.web.pojo.BannerConfigPO">
    <id column="banner_id" jdbcType="INTEGER" property="bannerId" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="url" jdbcType="CHAR" property="url" />
    <result column="pic_path" jdbcType="CHAR" property="picPath" />
  </resultMap>
  <sql id="Base_Column_List">
    banner_id, a_id, `name`, create_time, update_time, `status`, dr, start_time, url, 
    pic_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bannerconfig
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_bannerconfig
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.web.pojo.BannerConfigPO">
    insert into t_bannerconfig (banner_id, a_id, `name`, 
      create_time, update_time, `status`, 
      dr, start_time, url, 
      pic_path)
    values (#{bannerId,jdbcType=INTEGER}, #{aId,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{dr,jdbcType=TINYINT}, #{startTime,jdbcType=TIMESTAMP}, #{url,jdbcType=CHAR}, 
      #{picPath,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.web.pojo.BannerConfigPO">
    insert into t_bannerconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bannerId != null">
        banner_id,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="picPath != null">
        pic_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bannerId != null">
        #{bannerId,jdbcType=INTEGER},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=CHAR},
      </if>
      <if test="picPath != null">
        #{picPath,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.web.pojo.BannerConfigPO">
    update t_bannerconfig
    <set>
      <if test="aId != null">
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=CHAR},
      </if>
      <if test="picPath != null">
        pic_path = #{picPath,jdbcType=CHAR},
      </if>
    </set>
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.web.pojo.BannerConfigPO">
    update t_bannerconfig
    set a_id = #{aId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=TINYINT},
      dr = #{dr,jdbcType=TINYINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=CHAR},
      pic_path = #{picPath,jdbcType=CHAR}
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>
</mapper>