<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.web.mapper.BatchInfoMapper">

  <resultMap id="BaseResultMap" type="com.rpa.web.pojo.BatchInfoPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vipkey" jdbcType="CHAR" property="vipkey" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, vipkey, batch_id, `status`, `days`, update_time, user_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_batch_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="query" parameterType="java.lang.Integer" resultType="com.rpa.web.domain.BatchInfoDO">
        select
        vipkey, chan_nickname as chanNickname, chan_name as chanName, cb.create_time as createTime,
        cb.com_type_name as comTypeName, bi.status
        from t_batch_info bi
        left join t_ch_batch cb on bi.batch_id = cb.batch_id
        left join t_channel c on cb.chan_id = c.chan_id
        <where>
            <if test="vipkey != null and vipkey != ''">
                AND vipkey = #{vipkey}
            </if>
        </where>
    </select>

  <select id="queryByBatchid"  resultType="com.rpa.web.domain.BatchInfoDO">
        select
        vipkey, status, bi.update_time as updateTime, phone
        from t_batch_info bi
        left join t_user u on bi.user_id = u.user_id
        where batch_id = #{batchId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_batch_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.rpa.web.pojo.BatchInfoPO">
    insert into t_batch_info (id, vipkey, batch_id,
      `status`, `days`, update_time,
      user_id)
    values (#{id,jdbcType=INTEGER}, #{vipkey,jdbcType=CHAR}, #{batchId,jdbcType=INTEGER},
      #{status,jdbcType=TINYINT}, #{days,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
      #{userId,jdbcType=BIGINT})
  </insert>

  <insert id="insertBatchInfo" keyProperty="id" parameterType="java.util.List">
    insert into t_batch_info (vipkey, batch_id,
      `status`, `days`, update_time,
      user_id)
    values
    <foreach collection="list" item="item" separator=",">
    (#{item.vipkey,jdbcType=CHAR}, #{item.batchId,jdbcType=INTEGER},
      #{item.status,jdbcType=TINYINT}, #{item.days,jdbcType=INTEGER}, #{item.updateTime,jdbcType=TIMESTAMP},
      #{item.userId,jdbcType=BIGINT})
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.rpa.web.pojo.BatchInfoPO">
    insert into t_batch_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vipkey != null">
        vipkey,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="days != null">
        `days`,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vipkey != null">
        #{vipkey,jdbcType=CHAR},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="days != null">
        #{days,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.web.pojo.BatchInfoPO">
    update t_batch_info
    <set>
      <if test="vipkey != null">
        vipkey = #{vipkey,jdbcType=CHAR},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="days != null">
        `days` = #{days,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.web.pojo.BatchInfoPO">
    update t_batch_info
    set vipkey = #{vipkey,jdbcType=CHAR},
      batch_id = #{batchId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=TINYINT},
      `days` = #{days,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateStatusByBatchId">
    update t_batch_info
    set `status` = #{status,jdbcType=TINYINT}
    where batch_id = #{batchId,jdbcType=INTEGER} and `status` != 2
  </update>


  <select id="queryByUserId" resultType="com.rpa.web.domain.BatchInfoDO">
    select u.chan_name as userChanName, bi.update_time as updateTime, cb.com_type_name as comTypeName, cb.days
    from t_batch_info bi
    left join t_ch_batch cb on bi.batch_id = cb.batch_id
    left join t_user u on bi.user_id = u.user_id
    where bi.user_id = #{userId}
  </select>

  <select id="queryStatusById" resultType="java.lang.Integer">
    select count(batch_id)
    from t_batch_info
    where batch_id = #{batchId} and status = #{status}
  </select>
</mapper>