<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.web.mapper.ComTypeMapper">
    <resultMap id="BaseResultMap" type="com.rpa.web.pojo.ComTypePO">
        <id column="com_type_id" jdbcType="INTEGER" property="comTypeId"/>
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="days" jdbcType="INTEGER" property="days"/>
        <result column="extra" jdbcType="CHAR" property="extra"/>
        <result column="a_id" jdbcType="INTEGER" property="aId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    com_type_id as comTypeId, `name`, `days`, extra, a_id as aId, create_time as createTime, update_time as updateTime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_com_type
        where com_type_id = #{comTypeId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_com_type
    where com_type_id = #{comTypeId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.rpa.web.pojo.ComTypePO">
    insert into t_com_type (com_type_id, `name`, `days`, 
      extra, a_id, create_time, 
      update_time)
    values (#{comTypeId,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{days,jdbcType=INTEGER}, 
      #{extra,jdbcType=CHAR}, #{aId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.rpa.web.pojo.ComTypePO">
        insert into t_com_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="comTypeId != null">
                com_type_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="days != null">
                `days`,
            </if>
            <if test="extra != null">
                extra,
            </if>
            <if test="aId != null">
                a_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="comTypeId != null">
                #{comTypeId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=CHAR},
            </if>
            <if test="days != null">
                #{days,jdbcType=INTEGER},
            </if>
            <if test="extra != null">
                #{extra,jdbcType=CHAR},
            </if>
            <if test="aId != null">
                #{aId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rpa.web.pojo.ComTypePO">
        update t_com_type
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=CHAR},
            </if>
            <if test="days != null">
                `days` = #{days,jdbcType=INTEGER},
            </if>
            <if test="extra != null">
                extra = #{extra,jdbcType=CHAR},
            </if>
            <if test="aId != null">
                a_id = #{aId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where com_type_id = #{comTypeId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rpa.web.pojo.ComTypePO">
    update t_com_type
    set `name` = #{name,jdbcType=CHAR},
      `days` = #{days,jdbcType=INTEGER},
      extra = #{extra,jdbcType=CHAR},
      a_id = #{aId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where com_type_id = #{comTypeId,jdbcType=INTEGER}
  </update>

    <select id="query" resultType="com.rpa.web.pojo.ComTypePO">
        select
        c.com_type_id as comTypeId, c.name, c.days, c.extra, c.a_id as aId, c.create_time as createTime,
        c.update_time as updateTime, u.username
        from t_com_type c
        left join t_admin_user u on c.a_id = u.a_id
        <where>
            <if test="username!=null and username!=''">AND u.username like '%' #{username} '%'</if>
        </where>
    </select>

    <select id="queryAll" resultType="com.rpa.web.pojo.ComTypePO">
        select
        <include refid="Base_Column_List"/>
        from t_com_type order by com_type_id asc
    </select>

    <select id="queryTypenameByTypeid" resultType="java.lang.String">
        select name
        from t_com_type
        where com_type_id = #{comTypeId}
    </select>
</mapper>