<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.web.mapper.KeyTextMapper">
  <resultMap id="BaseResultMap" type="com.rpa.web.pojo.KeyTextPO">
    <id column="key_name" jdbcType="INTEGER" property="keyName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.rpa.web.pojo.KeyTextPO">
    <result column="text" jdbcType="LONGVARCHAR" property="text" />
  </resultMap>
  <sql id="Base_Column_List">
    key_name
  </sql>
  <sql id="Blob_Column_List">
    `text`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_key_text
    where key_name = #{keyName,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_key_text
    where key_name = #{keyName,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.web.pojo.KeyTextPO">
    insert into t_key_text (key_name, `text`)
    values (#{keyName,jdbcType=INTEGER}, #{text,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.web.pojo.KeyTextPO">
    insert into t_key_text
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="keyName != null">
        key_name,
      </if>
      <if test="text != null">
        `text`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="keyName != null">
        #{keyName,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        #{text,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.web.pojo.KeyTextPO">
    update t_key_text
    <set>
      <if test="text != null">
        `text` = #{text,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where key_name = #{keyName,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rpa.web.pojo.KeyTextPO">
    update t_key_text
    set `text` = #{text,jdbcType=LONGVARCHAR}
    where key_name = #{keyName,jdbcType=INTEGER}
  </update>
</mapper>