<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.web.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.rpa.web.pojo.OrderPO">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <id column="order_number" jdbcType="CHAR" property="orderNumber" />
    <result column="user_device_id" jdbcType="INTEGER" property="userDeviceId" />
    <result column="cmdy_id" jdbcType="INTEGER" property="cmdyId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="pay" jdbcType="BIGINT" property="pay" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, order_number, user_device_id, cmdy_id, user_id, device_id, create_time, 
    starttime, endtime, pay_time, `type`, `days`, pay, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.rpa.web.pojo.OrderPOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
      and order_number = #{orderNumber,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.rpa.web.pojo.OrderPOKey">
    delete from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
      and order_number = #{orderNumber,jdbcType=CHAR}
  </delete>

  <select id="queryPayCount" resultType="java.lang.Integer">
    select count(order_id)
    from t_order
    where pay_time >= (SELECT DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%s'))
  </select>

  <insert id="insert" parameterType="com.rpa.web.pojo.OrderPO">
    insert into t_order (order_id, order_number, user_device_id, 
      cmdy_id, user_id, device_id, 
      create_time, starttime, endtime, 
      pay_time, `type`, `days`, 
      pay, `status`)
    values (#{orderId,jdbcType=INTEGER}, #{orderNumber,jdbcType=CHAR}, #{userDeviceId,jdbcType=INTEGER}, 
      #{cmdyId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{payTime,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}, #{days,jdbcType=INTEGER}, 
      #{pay,jdbcType=BIGINT}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.web.pojo.OrderPO">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="userDeviceId != null">
        user_device_id,
      </if>
      <if test="cmdyId != null">
        cmdy_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="days != null">
        `days`,
      </if>
      <if test="pay != null">
        pay,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=CHAR},
      </if>
      <if test="userDeviceId != null">
        #{userDeviceId,jdbcType=INTEGER},
      </if>
      <if test="cmdyId != null">
        #{cmdyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="days != null">
        #{days,jdbcType=INTEGER},
      </if>
      <if test="pay != null">
        #{pay,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.web.pojo.OrderPO">
    update t_order
    <set>
      <if test="userDeviceId != null">
        user_device_id = #{userDeviceId,jdbcType=INTEGER},
      </if>
      <if test="cmdyId != null">
        cmdy_id = #{cmdyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="days != null">
        `days` = #{days,jdbcType=INTEGER},
      </if>
      <if test="pay != null">
        pay = #{pay,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
      and order_number = #{orderNumber,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.web.pojo.OrderPO">
    update t_order
    set user_device_id = #{userDeviceId,jdbcType=INTEGER},
      cmdy_id = #{cmdyId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      device_id = #{deviceId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      `type` = #{type,jdbcType=INTEGER},
      `days` = #{days,jdbcType=INTEGER},
      pay = #{pay,jdbcType=BIGINT},
      `status` = #{status,jdbcType=TINYINT}
    where order_id = #{orderId,jdbcType=INTEGER}
      and order_number = #{orderNumber,jdbcType=CHAR}
  </update>

  <select id="query" resultType="com.rpa.web.domain.OrderDO">
    select o.order_number as orderNumber, u.chan_name as userChanName, v.name as saleChanName, o.type, u.phone,
    o.create_time as createTime, o.pay_time as payTime, v.com_name as comName, v.days, v.price, v.show_discount as
    showDiscount, v.discount
    from t_order o
    left join t_vipcommodity v on o.cmdy_id = v.cmdy_id
    left join t_user u on o.user_id = u.user_id
    <where>
      <if test="startDate != null and startDate != ''"> and o.pay_time >= #{startDate}</if>
      <if test="endDate != null and endDate != ''"> and o.pay_time &lt;= #{endDate}</if>
      <if test="comTypeId != null and comTypeId != 0"> and v.com_type_id = #{comTypeId}</if>
      <if test="type != null and type != 0"> and o.type = #{type}</if>
      <if test="uChanId != null and uChanId != 0"> and u.soft_channel_id = #{uChanId}</if>
      <if test="sChanId != null and sChanId != 0"> and v.soft_channel_id = #{sChanId}</if>
      <if test="phone != null and phone != ''"> and u.phone like '%' #{phone} '%'</if>
      <if test="number != null and number != ''"> and o.order_number like '%' #{number} '%'</if>
    </where>
  </select>

  <select id="queryByUserId" resultType="com.rpa.web.domain.OrderDO">
    select  u.chan_name as userChanName, v.name as saleChanName, o.type, o.create_time as createTime, v.com_type_name
     as comTypeName,v.days
    from t_order o
    left join t_vipcommodity v on o.cmdy_id = v.cmdy_id
    left join t_user u on o.user_id = u.user_id
    where o.user_id = #{userId}
  </select>
</mapper>