<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.web.mapper.PluginMapper">
  <resultMap id="BaseResultMap" type="com.rpa.web.pojo.PluginPO">
    <id column="plugin_id" jdbcType="INTEGER" property="pluginId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="context" jdbcType="CHAR" property="context" />
    <result column="extra" jdbcType="CHAR" property="extra" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="md5" jdbcType="CHAR" property="md5" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
    <result column="url" jdbcType="CHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    plugin_id, `status`, context, extra, a_id, create_time, update_time, publish_time, 
    `size`, md5, dr, url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_plugin
    where plugin_id = #{pluginId,jdbcType=INTEGER}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update t_plugin set dr = 2
    where plugin_id = #{pluginId,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.rpa.web.pojo.PluginPO" useGeneratedKeys="true"  keyProperty="pluginId">
    insert into t_plugin (plugin_id, `status`, context, 
      extra, a_id, create_time, 
      update_time, publish_time, `size`, 
      md5, dr, url)
    values (#{pluginId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{context,jdbcType=CHAR}, 
      #{extra,jdbcType=CHAR}, #{aId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{publishTime,jdbcType=TIMESTAMP}, #{size,jdbcType=INTEGER}, 
      #{md5,jdbcType=CHAR}, #{dr,jdbcType=TINYINT}, #{url,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.web.pojo.PluginPO">
    insert into t_plugin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pluginId != null">
        plugin_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="extra != null">
        extra,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="md5 != null">
        md5,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pluginId != null">
        #{pluginId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="context != null">
        #{context,jdbcType=CHAR},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=CHAR},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=CHAR},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.web.pojo.PluginPO">
    update t_plugin
    <set>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=CHAR},
      </if>
      <if test="extra != null">
        extra = #{extra,jdbcType=CHAR},
      </if>
      <if test="aId != null">
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=INTEGER},
      </if>
      <if test="md5 != null">
        md5 = #{md5,jdbcType=CHAR},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=CHAR},
      </if>
    </set>
    where plugin_id = #{pluginId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.web.pojo.PluginPO">
    update t_plugin
    set `status` = #{status,jdbcType=TINYINT},
      context = #{context,jdbcType=CHAR},
      extra = #{extra,jdbcType=CHAR},
      a_id = #{aId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      `size` = #{size,jdbcType=INTEGER},
      md5 = #{md5,jdbcType=CHAR},
      dr = #{dr,jdbcType=TINYINT},
      url = #{url,jdbcType=CHAR}
    where plugin_id = #{pluginId,jdbcType=INTEGER}
  </update>

  <select id="query" resultType="com.rpa.web.pojo.PluginPO">
    select p.plugin_id as pluginId, p.publish_time as publishTime, au.username, p.size, p.context, sc.name,
    a.versionname as versionName, p.status, p.extra
    from t_plugin p
    left join t_app_plu_ch apc on p.plugin_id = apc.plugin_id
    left join t_soft_channel sc on apc.soft_channel_id = sc.soft_channel_id
    left join t_app a on apc.app_id = a.app_id
    left join t_admin_user au on p.a_id = au.a_id where p.dr = 1
    <if test="aId != null and aId != 0"> and p.a_id = #{aId}</if>
  </select>

  <select id="queryById" parameterType="java.lang.Integer" resultType="com.rpa.web.pojo.PluginPO">
    select p.plugin_id as pluginId, apc.app_id as appId, apc.soft_channel_id as softChannelId, p.publish_time as
    publishTime, p.size, p.context, sc.name, a.versionname as versionName, p.status, p.extra
    from t_plugin p
    left join t_app_plu_ch apc on p.plugin_id = apc.plugin_id
    left join t_soft_channel sc on apc.soft_channel_id = sc.soft_channel_id
    left join t_app a on apc.app_id = a.app_id
    where p.plugin_id = #{pluginId} and p.dr = 1
  </select>
</mapper>