<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.web.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.rpa.web.pojo.RolePO">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="CHAR" property="roleName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="role_num" jdbcType="CHAR" property="roleNum" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_name, create_time, update_time, a_id, role_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>

  <select id="query" resultMap="BaseResultMap">
    select
    role_id as roleId, role_name as roleName, role_num as roleNum
    from t_role r
    left join t_admin_user au on r.role_id = au.role_id
    left join t_adconfig a on au.a_id = a.a_id
    <where>
      <if test="phone != null and phone != ''">
        AND a.phone = #{phone}
      </if>
    </where>>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.web.pojo.RolePO">
    insert into t_role (role_id, role_name, create_time, 
      update_time, a_id, role_num
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{aId,jdbcType=INTEGER}, #{roleNum,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.web.pojo.RolePO">
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="roleNum != null">
        role_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="roleNum != null">
        #{roleNum,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.web.pojo.RolePO">
    update t_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aId != null">
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="roleNum != null">
        role_num = #{roleNum,jdbcType=CHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.web.pojo.RolePO">
    update t_role
    set role_name = #{roleName,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      a_id = #{aId,jdbcType=INTEGER},
      role_num = #{roleNum,jdbcType=CHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>