<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.web.mapper.UserHistoryMapper">
  <resultMap id="BaseResultMap" type="com.rpa.web.pojo.UserHistoryPO">
    <id column="user_device_id" jdbcType="INTEGER" property="userDeviceId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="updatetime" jdbcType="TIME" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_device_id, user_id, device_id, updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_history
    where user_device_id = #{userDeviceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_history
    where user_device_id = #{userDeviceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.web.pojo.UserHistoryPO">
    insert into t_user_history (user_device_id, user_id, device_id, 
      updatetime)
    values (#{userDeviceId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, 
      #{updatetime,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.web.pojo.UserHistoryPO">
    insert into t_user_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userDeviceId != null">
        user_device_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userDeviceId != null">
        #{userDeviceId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.web.pojo.UserHistoryPO">
    update t_user_history
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIME},
      </if>
    </set>
    where user_device_id = #{userDeviceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.web.pojo.UserHistoryPO">
    update t_user_history
    set user_id = #{userId,jdbcType=BIGINT},
      device_id = #{deviceId,jdbcType=BIGINT},
      updatetime = #{updatetime,jdbcType=TIME}
    where user_device_id = #{userDeviceId,jdbcType=INTEGER}
  </update>
</mapper>