<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.web.mapper.VipTypeMapper">
  <resultMap id="BaseResultMap" type="com.rpa.web.pojo.VipTypePO">
    <id column="viptype_id" jdbcType="INTEGER" property="viptypeId" />
    <result column="vipname" jdbcType="CHAR" property="vipname" />
  </resultMap>
  <sql id="Base_Column_List">
    viptype_id, vipname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_viptype
    where viptype_id = #{viptypeId,jdbcType=INTEGER}
  </select>

  <select id="queryVipnameByVipid" parameterType="java.lang.Integer" resultType="java.lang.String">
    select vipname
    from t_viptype
    where viptype_id = #{viptypeId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_viptype
    where viptype_id = #{viptypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.web.pojo.VipTypePO">
    insert into t_viptype (viptype_id, vipname)
    values (#{viptypeId,jdbcType=INTEGER}, #{vipname,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.web.pojo.VipTypePO">
    insert into t_viptype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="viptypeId != null">
        viptype_id,
      </if>
      <if test="vipname != null">
        vipname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="viptypeId != null">
        #{viptypeId,jdbcType=INTEGER},
      </if>
      <if test="vipname != null">
        #{vipname,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.web.pojo.VipTypePO">
    update t_viptype
    <set>
      <if test="vipname != null">
        vipname = #{vipname,jdbcType=CHAR},
      </if>
    </set>
    where viptype_id = #{viptypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.web.pojo.VipTypePO">
    update t_viptype
    set vipname = #{vipname,jdbcType=CHAR}
    where viptype_id = #{viptypeId,jdbcType=INTEGER}
  </update>
</mapper>