<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.front.mapper.InviteUserMapper">
  <resultMap id="BaseResultMap" type="com.rpa.front.pojo.InviteUserPO">
    <id column="invite_id" jdbcType="INTEGER" property="inviteId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="invite_phone" jdbcType="CHAR" property="invitePhone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ip" jdbcType="CHAR" property="ip" />
  </resultMap>
  <sql id="Base_Column_List">
    invite_id, user_id, invite_phone, create_time, update_time, ip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_invite_user
    where invite_id = #{inviteId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_invite_user
    where invite_id = #{inviteId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.front.pojo.InviteUserPO">
    insert into t_invite_user (invite_id, user_id, invite_phone, 
      create_time, update_time, ip
      )
    values (#{inviteId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{invitePhone,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{ip,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.front.pojo.InviteUserPO">
    insert into t_invite_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inviteId != null">
        invite_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="invitePhone != null">
        invite_phone,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="ip != null">
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inviteId != null">
        #{inviteId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="invitePhone != null">
        #{invitePhone,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.front.pojo.InviteUserPO">
    update t_invite_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="invitePhone != null">
        invite_phone = #{invitePhone,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=CHAR},
      </if>
    </set>
    where invite_id = #{inviteId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.front.pojo.InviteUserPO">
    update t_invite_user
    set user_id = #{userId,jdbcType=BIGINT},
      invite_phone = #{invitePhone,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=CHAR}
    where invite_id = #{inviteId,jdbcType=INTEGER}
  </update>
</mapper>