<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfs.common.mapper.AppMapper">
  <resultMap id="BaseResultMap" type="com.zfs.common.pojo.AppPO">
    <id column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="versionname" jdbcType="CHAR" property="versionname" />
    <result column="versioncode" jdbcType="INTEGER" property="versioncode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="update_type" jdbcType="TINYINT" property="updateType" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="extra" jdbcType="CHAR" property="extra" />
    <result column="context" jdbcType="CHAR" property="context" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
    <result column="md5" jdbcType="CHAR" property="md5" />
  </resultMap>
  <sql id="Base_Column_List">
    app_id, versionname, versioncode, create_time, update_time, url, a_id, `status`, 
    update_type, `size`, extra, context, publish_time, dr, md5
  </sql>
  <select id="queryPOSByIds" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select app_id as appID,versionname from t_app where app_id in
    (select app_id from t_app_plu_ch where plugin_id=#{pluginId,jdbcType=INTEGER})
  </select>
  <select id="queryIDSByIDS" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select app_id as appID  from t_app where app_id in
    (select app_id from t_app_plu_ch where plugin_id=#{pluginId,jdbcType=INTEGER})
  </select>
  <select id="queryNamesByIDS" parameterType="java.lang.Integer" resultType="java.lang.String">
    select versionname from t_app where app_id in
    (select app_id from t_app_plu_ch where plugin_id=#{pluginId,jdbcType=INTEGER})
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_app
    where app_id = #{appId,jdbcType=INTEGER}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update t_app set dr = 2
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.zfs.common.pojo.AppPO" useGeneratedKeys="true" keyProperty="appId">
    insert into t_app (app_id, versionname, versioncode, 
      create_time, update_time, url, 
      a_id, `status`, update_type, 
      `size`, extra, context, publish_time, 
      dr, md5)
    values (#{appId,jdbcType=INTEGER}, #{versionname,jdbcType=CHAR}, #{versioncode,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR}, 
      #{aId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{updateType,jdbcType=TINYINT}, 
      #{size,jdbcType=INTEGER}, #{extra,jdbcType=CHAR}, #{context,jdbcType=CHAR}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{dr,jdbcType=TINYINT}, #{md5,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zfs.common.pojo.AppPO">
    insert into t_app
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        app_id,
      </if>
      <if test="versionname != null">
        versionname,
      </if>
      <if test="versioncode != null">
        versioncode,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="updateType != null">
        update_type,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="extra != null">
        extra,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="md5 != null">
        md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="versionname != null">
        #{versionname,jdbcType=CHAR},
      </if>
      <if test="versioncode != null">
        #{versioncode,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updateType != null">
        #{updateType,jdbcType=TINYINT},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=CHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=CHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zfs.common.pojo.AppPO">
    update t_app
    <set>
      <if test="versionname != null">
        versionname = #{versionname,jdbcType=CHAR},
      </if>
      <if test="versioncode != null">
        versioncode = #{versioncode,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="aId != null">
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateType != null">
        update_type = #{updateType,jdbcType=TINYINT},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=INTEGER},
      </if>
      <if test="extra != null">
        extra = #{extra,jdbcType=CHAR},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=CHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="md5 != null">
        md5 = #{md5,jdbcType=CHAR},
      </if>
    </set>
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zfs.common.pojo.AppPO">
    update t_app
    set versionname = #{versionname,jdbcType=CHAR},
      versioncode = #{versioncode,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      a_id = #{aId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      update_type = #{updateType,jdbcType=TINYINT},
      `size` = #{size,jdbcType=INTEGER},
      extra = #{extra,jdbcType=CHAR},
      context = #{context,jdbcType=CHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT},
      md5 = #{md5,jdbcType=CHAR}
    where app_id = #{appId,jdbcType=INTEGER}
  </update>

  <select id="queryByIds" resultType="com.zfs.common.bo.AppBO">
    select a.app_id as appId, a.publish_time as publishTime, au.username, a.versionname as versionName, a.size,
    a.update_type as updateType, a.context, s.soft_channel_id as chanId, s.name as chanName, a.status, a.extra
    from t_app a
    left join t_app_ch ac on a.app_id = ac.app_id
    left join t_soft_channel s on ac.soft_channel_id = s.soft_channel_id
    left join t_admin_user au on a.a_id = au.a_id where a.dr = 1 and a.app_id in (
    <foreach collection="list" item="appId" index="index" separator=",">
      #{appId,jdbcType=INTEGER}
    </foreach>)
  </select>
  <select id="queryAll" resultType="com.zfs.common.bo.AppBO">
    select distinct a.app_id as appId, a.versionname as versionName
    from t_app a
    right join t_app_ch ac on a.app_id = ac.app_id
    where a.dr = 1
  </select>
  <select id="queryById" parameterType="java.lang.Integer" resultType="com.zfs.common.bo.AppBO">
    select a.app_id as appId, a.publish_time as publishTime, a.versionname as versionName, a.size,
    a.update_type as updateType, a.context, s.soft_channel_id as chanId, s.name as chanName, a.status, a.extra,
    a.url from t_app a
    left join t_app_ch ac on a.app_id = ac.app_id
    left join t_soft_channel s on ac.soft_channel_id = s.soft_channel_id
    where a.app_id = #{appId} and a.dr = 1
  </select>
  <select id="queryVersionname" resultMap="BaseResultMap">
    select app_id, versionname
    from t_app
    where dr = 1
  </select>
  <select id="queryByVersionCode" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from t_app
    where dr = 1 and versioncode = #{versionCode}
    order by app_id
    limit 1
  </select>
  <select id="queryAppId" resultType="java.lang.Integer">
    select app_id as appId
    from t_app
    where dr = 1
    <if test="updateType != null and updateType != 0">
      and update_type = #{updateType}
    </if>
    order by app_id
  </select>
  <select id="queryMaxByVerId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.url, a.md5, a.update_type, a.context, a.versioncode, a.versionname
    from t_app a left join t_app_ch ac on a.app_id = ac.app_id
    where dr = 1 and a.versioncode > #{versionCode,jdbcType=INTEGER} and ac.soft_channel_id =
    #{chanId,jdbcType=INTEGER}
    <if test="status == 2">
      and a.`status` = #{status,jdbcType=INTEGER}
    </if>
    order by a.versioncode desc
    limit 1
  </select>
  <select id="queryIdByVersioncode" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select app_id as appId
    from t_app
    where versioncode = #{softv} and dr = 1
  </select>
  <select id="queryVersionameByVersioncode" parameterType="java.lang.Integer" resultType="java.lang.String">
    select distinct versionname
    from t_app
    where versioncode = #{versioncode} and dr=1
  </select>
  <select id="queryCodesAndNames" resultType="com.zfs.common.pojo.AppPO">
    select distinct versioncode, versionname
    from t_app
  </select>
</mapper>