<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfs.common.mapper.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.zfs.common.pojo.DevicePO">
    <id column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="utdid" jdbcType="CHAR" property="utdid" />
    <result column="androidid" jdbcType="CHAR" property="androidid" />
    <result column="buildversion" jdbcType="TINYINT" property="buildversion" />
    <result column="soft_channel_id" jdbcType="INTEGER" property="softChannelId" />
    <result column="chan_name" jdbcType="CHAR" property="chanName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="versioncode" jdbcType="INTEGER" property="versioncode" />
    <result column="manufacturer" jdbcType="CHAR" property="manufacturer" />
    <result column="androidmodel" jdbcType="CHAR" property="androidmodel" />
    <result column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="buildrelease" jdbcType="CHAR" property="buildrelease" />
    <result column="versionname" jdbcType="CHAR" property="versionname" />
  </resultMap>
  <sql id="Base_Column_List">
    device_id, utdid, androidid, buildversion, soft_channel_id, chan_name, create_time,
    update_time, versioncode, manufacturer, androidmodel, uuid, buildrelease, versionname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_device
    where device_id = #{deviceId,jdbcType=BIGINT}
  </select>
  <select id="queryByUtdID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_device where utdid=#{utdid} limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_device
    where device_id = #{deviceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zfs.common.pojo.DevicePO" useGeneratedKeys="true" keyProperty="deviceId">
    insert into t_device (device_id, utdid, androidid,
      buildversion, soft_channel_id, chan_name,
      create_time, update_time, versioncode,
      manufacturer, androidmodel, uuid,
      buildrelease, versionname)
    values (#{deviceId,jdbcType=BIGINT}, #{utdid,jdbcType=CHAR}, #{androidid,jdbcType=CHAR},
      #{buildversion,jdbcType=TINYINT}, #{softChannelId,jdbcType=INTEGER}, #{chanName,jdbcType=CHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{versioncode,jdbcType=INTEGER},
      #{manufacturer,jdbcType=CHAR}, #{androidmodel,jdbcType=CHAR}, #{uuid,jdbcType=CHAR},
      #{buildrelease,jdbcType=CHAR}, #{versionname,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zfs.common.pojo.DevicePO">
    insert into t_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="utdid != null">
        utdid,
      </if>
      <if test="androidid != null">
        androidid,
      </if>
      <if test="buildversion != null">
        buildversion,
      </if>
      <if test="softChannelId != null">
        soft_channel_id,
      </if>
      <if test="chanName != null">
        chan_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="versioncode != null">
        versioncode,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="androidmodel != null">
        androidmodel,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="buildrelease != null">
        buildrelease,
      </if>
      <if test="versionname != null">
        versionname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="utdid != null">
        #{utdid,jdbcType=CHAR},
      </if>
      <if test="androidid != null">
        #{androidid,jdbcType=CHAR},
      </if>
      <if test="buildversion != null">
        #{buildversion,jdbcType=TINYINT},
      </if>
      <if test="softChannelId != null">
        #{softChannelId,jdbcType=INTEGER},
      </if>
      <if test="chanName != null">
        #{chanName,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versioncode != null">
        #{versioncode,jdbcType=INTEGER},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=CHAR},
      </if>
      <if test="androidmodel != null">
        #{androidmodel,jdbcType=CHAR},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="buildrelease != null">
        #{buildrelease,jdbcType=CHAR},
      </if>
      <if test="versionname != null">
        #{versionname,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zfs.common.pojo.DevicePO">
    update t_device
    <set>
      <if test="utdid != null">
        utdid = #{utdid,jdbcType=CHAR},
      </if>
      <if test="androidid != null">
        androidid = #{androidid,jdbcType=CHAR},
      </if>
      <if test="buildversion != null">
        buildversion = #{buildversion,jdbcType=TINYINT},
      </if>
      <if test="softChannelId != null">
        soft_channel_id = #{softChannelId,jdbcType=INTEGER},
      </if>
      <if test="chanName != null">
        chan_name = #{chanName,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versioncode != null">
        versioncode = #{versioncode,jdbcType=INTEGER},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=CHAR},
      </if>
      <if test="androidmodel != null">
        androidmodel = #{androidmodel,jdbcType=CHAR},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="buildrelease != null">
        buildrelease = #{buildrelease,jdbcType=CHAR},
      </if>
      <if test="versionname != null">
        versionname = #{versionname,jdbcType=CHAR},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zfs.common.pojo.DevicePO">
    update t_device
    set utdid = #{utdid,jdbcType=CHAR},
      androidid = #{androidid,jdbcType=CHAR},
      buildversion = #{buildversion,jdbcType=TINYINT},
      soft_channel_id = #{softChannelId,jdbcType=INTEGER},
      chan_name = #{chanName,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      versioncode = #{versioncode,jdbcType=INTEGER},
      manufacturer = #{manufacturer,jdbcType=CHAR},
      androidmodel = #{androidmodel,jdbcType=CHAR},
      uuid = #{uuid,jdbcType=CHAR},
      buildrelease = #{buildrelease,jdbcType=CHAR},
      versionname = #{versionname,jdbcType=CHAR}
    where device_id = #{deviceId,jdbcType=BIGINT}
  </update>

  <select id="query" resultType="com.zfs.common.pojo.DevicePO">
    select
    d.device_id as deviceId, d.utdid, d.androidid, d.buildversion, d.soft_channel_id as softChannelId, d.chan_name
    as chanName, d.create_time as createTime, d.update_time as updateTime, d.versionname, d.manufacturer,
    d.androidmodel, d.buildrelease
    from t_device d
    left join t_user_device u on d.device_id = u.device_id where u.user_id is null
    <if test="channelId!=null and channelId!=''">AND soft_channel_id = #{channelId}</if>
    order by d.create_time desc
  </select>
  <select id="queryTodayNewUser" resultType="java.lang.Integer">
    select  count(device_id)
    from t_device
    where create_time >= (SELECT DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%s'))
  </select>
</mapper>
