<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfs.common.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.zfs.common.pojo.NoticePO">
    <id column="notice_id" jdbcType="INTEGER" property="noticeId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="show_time" jdbcType="TIMESTAMP" property="showTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="picurl" jdbcType="CHAR" property="picurl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="end_show_time" jdbcType="TIMESTAMP" property="endShowTime"/>
    <result column="menbers" jdbcType="CHAR" property="menbers"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zfs.common.pojo.NoticePO">
    <result column="url" jdbcType="LONGVARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    notice_id, title, `text`, `type`, show_time, start_time, `status`, end_time, picurl, 
    create_time, update_time, a_id,end_show_time,menbers
  </sql>
  <sql id="Blob_Column_List">
    url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_notice
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_notice
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zfs.common.pojo.NoticePO">
    insert into t_notice (notice_id, title, `text`, 
      `type`, show_time, start_time, 
      `status`, end_time, picurl, 
      create_time, update_time, a_id, 
      url,end_show_time,menbers)
    values (#{noticeId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{showTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{endTime,jdbcType=TIMESTAMP}, #{picurl,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{aId,jdbcType=INTEGER}, 
      #{url,jdbcType=LONGVARCHAR},#{endShowTime,jdbcType=TIMESTAMP},#{menbers,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zfs.common.pojo.NoticePO">
    insert into t_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noticeId != null">
        notice_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="text != null">
        `text`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="showTime != null">
        show_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="picurl != null">
        picurl,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="endShowTime!=null">
        end_show_time,
      </if>
      <if test="menbers!=null">
        menbers,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noticeId != null">
        #{noticeId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="showTime != null">
        #{showTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picurl != null">
        #{picurl,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=LONGVARCHAR},
      </if>
      <if test="endShowTime!=null">
        #{endShowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menbers!=null">
        #{menbers,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zfs.common.pojo.NoticePO">
    update t_notice
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        `text` = #{text,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="showTime != null">
        show_time = #{showTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picurl != null">
        picurl = #{picurl,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aId != null">
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=LONGVARCHAR},
      </if>
      <if test="endShowTime!=null">
        end_show_time=#{endShowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menbers!=null">
        menbers=#{menbers,jdbcType=CHAR},
      </if>
    </set>
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zfs.common.pojo.NoticePO">
    update t_notice
    set title = #{title,jdbcType=VARCHAR},
      `text` = #{text,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT},
      show_time = #{showTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      picurl = #{picurl,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      a_id = #{aId,jdbcType=INTEGER},
      url = #{url,jdbcType=LONGVARCHAR},
      end_show_time=#{endShowTime,jdbcType=TIMESTAMP},
      menbers=#{menbers,jdbcType=CHAR}
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zfs.common.pojo.NoticePO">
    update t_notice
    set title = #{title,jdbcType=VARCHAR},
      `text` = #{text,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT},
      show_time = #{showTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      picurl = #{picurl,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      a_id = #{aId,jdbcType=INTEGER},
      end_show_time=#{endShowTime,jdbcType=TIMESTAMP},
      menbers=#{menbers,jdbcType=CHAR}
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </update>

  <select id="query" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    from t_notice
    <where>
      <if test="(startTime != null and startTime != '') and (endTime != null and endTime != '')">
        AND start_time &gt;= #{startTime} AND end_time &lt;= #{endTime}
      </if>
      <if test="status!=null and status != 0">
        AND status =  #{status}
      </if>
      <if test="type!=null and type != 0">
        AND type = #{type}
      </if>
      <if test="title != null and title != ''">
        AND title like '%' #{title} '%'
      </if>
    </where>
  </select>
  <select id="queryAll" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    from t_notice
    where status = 2 and end_time > now()
    order by notice_id desc
  </select>
</mapper>