<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.common.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.rpa.common.pojo.ActivityPO">
    <id column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="activityname" jdbcType="VARCHAR" property="activityname" />
    <result column="position" jdbcType="TINYINT" property="position" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
    <result column="com_type_id" jdbcType="INTEGER" property="comTypeId" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="com_type_name" jdbcType="CHAR" property="comTypeName" />
    <result column="source" jdbcType="INTEGER" property="source" />
  </resultMap>
  <sql id="Base_Column_List">
    activity_id, activityname, `position`, `status`, a_id, create_time, update_time, 
    dr, com_type_id, `days`, com_type_name, `source`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.common.pojo.ActivityPO">
    insert into t_activity (activity_id, activityname, `position`, 
      `status`, a_id, create_time, 
      update_time, dr, com_type_id, 
      `days`, com_type_name, `source`
      )
    values (#{activityId,jdbcType=INTEGER}, #{activityname,jdbcType=VARCHAR}, #{position,jdbcType=TINYINT}, 
      #{status,jdbcType=INTEGER}, #{aId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT}, #{comTypeId,jdbcType=INTEGER}, 
      #{days,jdbcType=INTEGER}, #{comTypeName,jdbcType=CHAR}, #{source,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.common.pojo.ActivityPO">
    insert into t_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="activityname != null">
        activityname,
      </if>
      <if test="position != null">
        `position`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="comTypeId != null">
        com_type_id,
      </if>
      <if test="days != null">
        `days`,
      </if>
      <if test="comTypeName != null">
        com_type_name,
      </if>
      <if test="source != null">
        `source`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="activityname != null">
        #{activityname,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="comTypeId != null">
        #{comTypeId,jdbcType=INTEGER},
      </if>
      <if test="days != null">
        #{days,jdbcType=INTEGER},
      </if>
      <if test="comTypeName != null">
        #{comTypeName,jdbcType=CHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.common.pojo.ActivityPO">
    update t_activity
    <set>
      <if test="activityname != null">
        activityname = #{activityname,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        `position` = #{position,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="aId != null">
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="comTypeId != null">
        com_type_id = #{comTypeId,jdbcType=INTEGER},
      </if>
      <if test="days != null">
        `days` = #{days,jdbcType=INTEGER},
      </if>
      <if test="comTypeName != null">
        com_type_name = #{comTypeName,jdbcType=CHAR},
      </if>
      <if test="source != null">
        `source` = #{source,jdbcType=INTEGER},
      </if>
    </set>
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.common.pojo.ActivityPO">
    update t_activity
    set activityname = #{activityname,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=TINYINT},
      `status` = #{status,jdbcType=INTEGER},
      a_id = #{aId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT},
      com_type_id = #{comTypeId,jdbcType=INTEGER},
      `days` = #{days,jdbcType=INTEGER},
      com_type_name = #{comTypeName,jdbcType=CHAR},
      `source` = #{source,jdbcType=INTEGER}
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
</mapper>