<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.common.mapper.AppAvaChMapper">
  <resultMap id="BaseResultMap" type="com.rpa.common.pojo.AppAvaChPO">
    <id column="aac_id" jdbcType="BIGINT" property="aacId" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="soft_channel_id" jdbcType="INTEGER" property="softChannelId" />
    <result column="avatar_id" jdbcType="BIGINT" property="avatarId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    aac_id, app_id, soft_channel_id, avatar_id, `status`, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_app_ava_ch
    where aac_id = #{aacId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_app_ava_ch
    where aac_id = #{aacId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rpa.common.pojo.AppAvaChPO">
    insert into t_app_ava_ch (aac_id, app_id, soft_channel_id, 
      avatar_id, `status`, create_time, 
      update_time)
    values (#{aacId,jdbcType=BIGINT}, #{appId,jdbcType=INTEGER}, #{softChannelId,jdbcType=INTEGER}, 
      #{avatarId,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.common.pojo.AppAvaChPO">
    insert into t_app_ava_ch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aacId != null">
        aac_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="softChannelId != null">
        soft_channel_id,
      </if>
      <if test="avatarId != null">
        avatar_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aacId != null">
        #{aacId,jdbcType=BIGINT},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="softChannelId != null">
        #{softChannelId,jdbcType=INTEGER},
      </if>
      <if test="avatarId != null">
        #{avatarId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.common.pojo.AppAvaChPO">
    update t_app_ava_ch
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="softChannelId != null">
        soft_channel_id = #{softChannelId,jdbcType=INTEGER},
      </if>
      <if test="avatarId != null">
        avatar_id = #{avatarId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where aac_id = #{aacId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.common.pojo.AppAvaChPO">
    update t_app_ava_ch
    set app_id = #{appId,jdbcType=INTEGER},
      soft_channel_id = #{softChannelId,jdbcType=INTEGER},
      avatar_id = #{avatarId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where aac_id = #{aacId,jdbcType=BIGINT}
  </update>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into t_app_ava_ch (aac_id, app_id, soft_channel_id,
      avatar_id, `status`, create_time,
      update_time)
    values
    <foreach collection="list" item="aacPO" index="index" separator=",">
      (#{aacPO.aacId,jdbcType=BIGINT}, #{aacPO.appId,jdbcType=INTEGER}, #{aacPO.softChannelId,jdbcType=INTEGER},
      #{aacPO.avatarId,jdbcType=BIGINT}, #{aacPO.status,jdbcType=TINYINT}, #{aacPO.createTime,jdbcType=TIMESTAMP},
      #{aacPO.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <select id="queryByAvatarIdAndAppId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_app_ava_ch
    where avatar_id = #{avatarId,jdbcType=BIGINT} and app_id = #{appId,jdbcType=INTEGER}
  </select>
  <update id="updateStatus">
    update t_app_ava_ch set `status` = #{status,jdbcType=TINYINT} where avatar_id = #{avatarId,jdbcType=BIGINT}
  </update>
</mapper>