<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.common.mapper.AvatarMapper">
  <resultMap id="BaseResultMap" type="com.rpa.common.pojo.AvatarPO">
    <id column="avatar_id" jdbcType="BIGINT" property="avatarId" />
    <result column="version_name" jdbcType="CHAR" property="versionName" />
    <result column="version_code" jdbcType="INTEGER" property="versionCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="url" jdbcType="CHAR" property="url" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="update_type" jdbcType="TINYINT" property="updateType" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="extra" jdbcType="CHAR" property="extra" />
    <result column="context" jdbcType="CHAR" property="context" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
    <result column="md5" jdbcType="CHAR" property="md5" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
  </resultMap>
  <sql id="Base_Column_List">
    avatar_id, version_name, version_code, create_time, update_time, url, `status`, update_type, 
    `size`, extra, context, publish_time, dr, md5, a_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_avatar
    where avatar_id = #{avatarId,jdbcType=BIGINT}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update t_avatar set dr = 2
    where avatar_id = #{avatarId,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.rpa.common.pojo.AvatarPO" useGeneratedKeys="true" keyProperty="avatarId">
    insert into t_avatar (avatar_id, version_name, version_code, 
      create_time, update_time, url, 
      `status`, update_type, `size`, 
      extra, context, publish_time, 
      dr, md5, a_id)
    values (#{avatarId,jdbcType=BIGINT}, #{versionName,jdbcType=CHAR}, #{versionCode,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{url,jdbcType=CHAR}, 
      #{status,jdbcType=TINYINT}, #{updateType,jdbcType=TINYINT}, #{size,jdbcType=INTEGER}, 
      #{extra,jdbcType=CHAR}, #{context,jdbcType=CHAR}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{dr,jdbcType=TINYINT}, #{md5,jdbcType=CHAR}, #{aId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.common.pojo.AvatarPO">
    insert into t_avatar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="avatarId != null">
        avatar_id,
      </if>
      <if test="versionName != null">
        version_name,
      </if>
      <if test="versionCode != null">
        version_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="updateType != null">
        update_type,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="extra != null">
        extra,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="md5 != null">
        md5,
      </if>
      <if test="aId != null">
        a_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="avatarId != null">
        #{avatarId,jdbcType=BIGINT},
      </if>
      <if test="versionName != null">
        #{versionName,jdbcType=CHAR},
      </if>
      <if test="versionCode != null">
        #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="updateType != null">
        #{updateType,jdbcType=TINYINT},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=CHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=CHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=CHAR},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.common.pojo.AvatarPO">
    update t_avatar
    <set>
      <if test="versionName != null">
        version_name = #{versionName,jdbcType=CHAR},
      </if>
      <if test="versionCode != null">
        version_code = #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="updateType != null">
        update_type = #{updateType,jdbcType=TINYINT},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=INTEGER},
      </if>
      <if test="extra != null">
        extra = #{extra,jdbcType=CHAR},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=CHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="md5 != null">
        md5 = #{md5,jdbcType=CHAR},
      </if>
      <if test="aId != null">
        a_id = #{aId,jdbcType=INTEGER},
      </if>
    </set>
    where avatar_id = #{avatarId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.common.pojo.AvatarPO">
    update t_avatar
    set version_name = #{versionName,jdbcType=CHAR},
      version_code = #{versionCode,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=CHAR},
      `status` = #{status,jdbcType=TINYINT},
      update_type = #{updateType,jdbcType=TINYINT},
      `size` = #{size,jdbcType=INTEGER},
      extra = #{extra,jdbcType=CHAR},
      context = #{context,jdbcType=CHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT},
      md5 = #{md5,jdbcType=CHAR},
      a_id = #{aId,jdbcType=INTEGER}
    where avatar_id = #{avatarId,jdbcType=BIGINT}
  </update>

  <select id="queryByVersionCode" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_avatar
    where dr = 1 and version_code = #{versionCode}
    order by avatar_id
    limit 1
  </select>
  <select id="queryAvatarIds" resultType="java.lang.Long">
    select avatar_id as avatarId
    from t_avatar
    where dr = 1
    <if test="updateType != null and updateType != 0">
      and update_type = #{updateType,jdbcType=TINYINT}
    </if>
    order by avatar_id
  </select>
  <select id="queryByAvatarId" parameterType="java.lang.Long" resultType="com.rpa.common.bo.AvatarBO">
    select a.avatar_id as avatarId, a.publish_time as publishTime, a.version_name as versionName, a.size,
    a.update_type as updateType, a.context, s.soft_channel_id as chanId, s.name as chanName, a.status, a.extra
    from t_avatar a
    left join t_app_ava_ch aac on a.avatar_id = aac.avatar_id
    left join t_soft_channel s on aac.soft_channel_id = s.soft_channel_id
    where a.avatar_id = #{avatarId,jdbcType=BIGINT} and a.dr = 1
  </select>
  <select id="queryByAvatarIds" resultType="com.rpa.common.bo.AvatarBO">
    select a.avatar_id as avatarId, a.publish_time as publishTime, au.username, a.version_name as versionName, a.size,
    a.update_type as updateType, a.context, s.soft_channel_id as chanId, s.name as chanName, a.status, a.extra, aac.app_id as appId
    from t_avatar a
    left join t_app_ava_ch aac on a.avatar_id = aac.avatar_id
    left join t_soft_channel s on aac.soft_channel_id = s.soft_channel_id
    left join t_admin_user au on a.a_id = au.a_id where a.dr = 1 and a.avatar_id in (
    <foreach collection="list" item="avatarId" index="index" separator=",">
      #{avatarId,jdbcType=BIGINT}
    </foreach>)
  </select>
  <select id="queryMaxByVerId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.avatar_id, a.update_type
    from t_avatar a
    inner join t_app_ava_ch aac on a.avatar_id = aac.avatar_id
    inner join t_app ap on aac.app_id = ap.app_id
    where a.dr = 1 and ap.versionCode = #{softv,jdbcType=INTEGER} and aac.soft_channel_id =
    #{chanId,jdbcType=INTEGER} and a.version_code > #{avatarv,jdbcType=INTEGER} and a.`status` = 2
    order by a.version_code desc
    limit 1
  </select>
</mapper>