<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.common.mapper.ChannelMapper">
  <resultMap id="BaseResultMap" type="com.rpa.common.pojo.ChannelPO">
    <id column="chan_id" jdbcType="INTEGER" property="chanId" />
    <result column="chan_nickname" jdbcType="CHAR" property="chanNickname" />
    <result column="chan_name" jdbcType="CHAR" property="chanName" />
    <result column="pro_id" jdbcType="INTEGER" property="proId" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="extra" jdbcType="CHAR" property="extra" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    chan_id, chan_nickname, chan_name, pro_id, a_id, create_time, update_time, extra, 
    dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_channel
    where chan_id = #{chanId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_channel
    where chan_id = #{chanId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.common.pojo.ChannelPO">
    insert into t_channel (chan_id, chan_nickname, chan_name, 
      pro_id, a_id, create_time, 
      update_time, extra, dr
      )
    values (#{chanId,jdbcType=INTEGER}, #{chanNickname,jdbcType=CHAR}, #{chanName,jdbcType=CHAR}, 
      #{proId,jdbcType=INTEGER}, #{aId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{extra,jdbcType=CHAR}, #{dr,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.common.pojo.ChannelPO">
    insert into t_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chanId != null">
        chan_id,
      </if>
      <if test="chanNickname != null">
        chan_nickname,
      </if>
      <if test="chanName != null">
        chan_name,
      </if>
      <if test="proId != null">
        pro_id,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="extra != null">
        extra,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chanId != null">
        #{chanId,jdbcType=INTEGER},
      </if>
      <if test="chanNickname != null">
        #{chanNickname,jdbcType=CHAR},
      </if>
      <if test="chanName != null">
        #{chanName,jdbcType=CHAR},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=CHAR},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.common.pojo.ChannelPO">
    update t_channel
    <set>
      <if test="chanNickname != null">
        chan_nickname = #{chanNickname,jdbcType=CHAR},
      </if>
      <if test="chanName != null">
        chan_name = #{chanName,jdbcType=CHAR},
      </if>
      <if test="proId != null">
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
      <if test="aId != null">
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extra != null">
        extra = #{extra,jdbcType=CHAR},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where chan_id = #{chanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.common.pojo.ChannelPO">
    update t_channel
    set chan_nickname = #{chanNickname,jdbcType=CHAR},
      chan_name = #{chanName,jdbcType=CHAR},
      pro_id = #{proId,jdbcType=INTEGER},
      a_id = #{aId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      extra = #{extra,jdbcType=CHAR},
      dr = #{dr,jdbcType=TINYINT}
    where chan_id = #{chanId,jdbcType=INTEGER}
  </update>

  <select id="query" parameterType="java.lang.Integer" resultType="com.rpa.common.bo.ChannelBO">
    select
    chan_nickname as chanNickname, chan_name as chanName, c.pro_id as proId, p.pro_name as proName,
    phone, c.extra, c.create_time as createTime, c.a_id as aId
    from t_channel c
    left join t_promoter p on c.pro_id = p.pro_id
    <where>
      <if test="chanNickname != null and chanNickname != ''">
        AND chan_nickname = #{chanNickname}
      </if>
      <if test="proId != null and proId != ''">
        AND c.pro_id = #{proId}
      </if>
    </where>
  </select>

  <select id="queryProNames" resultType="com.rpa.common.bo.ChannelBO">
    select distinct
    p.pro_name as proName, c.pro_id as proId
    from t_channel c
    left join t_promoter p on c.pro_id = p.pro_id
  </select>

  <select id="queryChanNicknames" resultType="com.rpa.common.pojo.ChannelPO">
    select chan_id as chanId, chan_nickname as chanNickname
    from t_channel
  </select>
</mapper>