<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.common.mapper.KeyValueMapper">
  <resultMap id="BaseResultMap" type="com.rpa.common.pojo.KeyValuePO">
    <id column="key_name" jdbcType="INTEGER" property="keyName" />
    <result column="value" jdbcType="CHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    key_name, `value`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_key_value
    where key_name = #{keyName,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_key_value
    where key_name = #{keyName,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.common.pojo.KeyValuePO">
    insert into t_key_value (key_name, `value`)
    values (#{keyName,jdbcType=INTEGER}, #{value,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.common.pojo.KeyValuePO">
    insert into t_key_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="keyName != null">
        key_name,
      </if>
      <if test="value != null">
        `value`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="keyName != null">
        #{keyName,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.common.pojo.KeyValuePO">
    update t_key_value
    <set>
      <if test="value != null">
        `value` = #{value,jdbcType=CHAR},
      </if>
    </set>
    where key_name = #{keyName,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.common.pojo.KeyValuePO">
    update t_key_value
    set `value` = #{value,jdbcType=CHAR}
    where key_name = #{keyName,jdbcType=INTEGER}
  </update>
</mapper>