<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.common.mapper.NewUserRecordMapper">
  <resultMap id="BaseResultMap" type="com.rpa.common.pojo.NewUserRecordPO">
    <id column="nur_id" jdbcType="INTEGER" property="nurId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_device_id" jdbcType="INTEGER" property="userDeviceId" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="nug_id" jdbcType="INTEGER" property="nugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    nur_id, user_id, user_device_id, device_id, nug_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_new_user_record
    where nur_id = #{nurId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_new_user_record
    where nur_id = #{nurId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.common.pojo.NewUserRecordPO">
    insert into t_new_user_record (nur_id, user_id, user_device_id, 
      device_id, nug_id, create_time
      )
    values (#{nurId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{userDeviceId,jdbcType=INTEGER}, 
      #{deviceId,jdbcType=BIGINT}, #{nugId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.common.pojo.NewUserRecordPO">
    insert into t_new_user_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nurId != null">
        nur_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userDeviceId != null">
        user_device_id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="nugId != null">
        nug_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nurId != null">
        #{nurId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userDeviceId != null">
        #{userDeviceId,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="nugId != null">
        #{nugId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.common.pojo.NewUserRecordPO">
    update t_new_user_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userDeviceId != null">
        user_device_id = #{userDeviceId,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="nugId != null">
        nug_id = #{nugId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where nur_id = #{nurId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.common.pojo.NewUserRecordPO">
    update t_new_user_record
    set user_id = #{userId,jdbcType=BIGINT},
      user_device_id = #{userDeviceId,jdbcType=INTEGER},
      device_id = #{deviceId,jdbcType=BIGINT},
      nug_id = #{nugId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where nur_id = #{nurId,jdbcType=INTEGER}
  </update>
</mapper>