<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.common.mapper.PhoneInfoMapper">
  <resultMap id="BaseResultMap" type="com.rpa.common.pojo.PhoneInfoPO">
    <id column="m_re_id" jdbcType="BIGINT" property="mReId" />
    <result column="model_id" jdbcType="BIGINT" property="modelId" />
    <result column="product_model" jdbcType="CHAR" property="productModel" />
    <result column="product_device" jdbcType="CHAR" property="productDevice" />
    <result column="buildid" jdbcType="CHAR" property="buildid" />
    <result column="product_board" jdbcType="CHAR" property="productBoard" />
    <result column="product_name" jdbcType="CHAR" property="productName" />
    <result column="manufacturer" jdbcType="CHAR" property="manufacturer" />
    <result column="product_cuptsm" jdbcType="CHAR" property="productCuptsm" />
    <result column="proc_version" jdbcType="CHAR" property="procVersion" />
    <result column="board_plat_form" jdbcType="CHAR" property="boardPlatForm" />
    <result column="lcd_density" jdbcType="INTEGER" property="lcdDensity" />
    <result column="versdk" jdbcType="CHAR" property="versdk" />
    <result column="fingerprint" jdbcType="CHAR" property="fingerprint" />
    <result column="pinpai" jdbcType="CHAR" property="pinpai" />
    <result column="cpu_process_num" jdbcType="BIGINT" property="cpuProcessNum" />
    <result column="xinghao" jdbcType="CHAR" property="xinghao" />
    <result column="net_host_name" jdbcType="CHAR" property="netHostName" />
  </resultMap>
  <sql id="Base_Column_List">
    m_re_id, model_id, product_model, product_device, buildid, product_board, product_name, 
    manufacturer, product_cuptsm, proc_version, board_plat_form, lcd_density, versdk, 
    fingerprint, pinpai, cpu_process_num, xinghao, net_host_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_phone_info
    where m_re_id = #{mReId,jdbcType=BIGINT}
  </select>

  <select id="queryByModal" resultMap="BaseResultMap">
    SELECT * FROM `t_phone_info` mres WHERE mres.model_id=#{modelID,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_phone_info
    where m_re_id = #{mReId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rpa.common.pojo.PhoneInfoPO">
    insert into t_phone_info (m_re_id, model_id, product_model, 
      product_device, buildid, product_board, 
      product_name, manufacturer, product_cuptsm, 
      proc_version, board_plat_form, lcd_density, 
      versdk, fingerprint, pinpai, 
      cpu_process_num, xinghao, net_host_name
      )
    values (#{mReId,jdbcType=BIGINT}, #{modelId,jdbcType=BIGINT}, #{productModel,jdbcType=CHAR}, 
      #{productDevice,jdbcType=CHAR}, #{buildid,jdbcType=CHAR}, #{productBoard,jdbcType=CHAR}, 
      #{productName,jdbcType=CHAR}, #{manufacturer,jdbcType=CHAR}, #{productCuptsm,jdbcType=CHAR}, 
      #{procVersion,jdbcType=CHAR}, #{boardPlatForm,jdbcType=CHAR}, #{lcdDensity,jdbcType=INTEGER}, 
      #{versdk,jdbcType=CHAR}, #{fingerprint,jdbcType=CHAR}, #{pinpai,jdbcType=CHAR}, 
      #{cpuProcessNum,jdbcType=BIGINT}, #{xinghao,jdbcType=CHAR}, #{netHostName,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.common.pojo.PhoneInfoPO">
    insert into t_phone_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mReId != null">
        m_re_id,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="productModel != null">
        product_model,
      </if>
      <if test="productDevice != null">
        product_device,
      </if>
      <if test="buildid != null">
        buildid,
      </if>
      <if test="productBoard != null">
        product_board,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="productCuptsm != null">
        product_cuptsm,
      </if>
      <if test="procVersion != null">
        proc_version,
      </if>
      <if test="boardPlatForm != null">
        board_plat_form,
      </if>
      <if test="lcdDensity != null">
        lcd_density,
      </if>
      <if test="versdk != null">
        versdk,
      </if>
      <if test="fingerprint != null">
        fingerprint,
      </if>
      <if test="pinpai != null">
        pinpai,
      </if>
      <if test="cpuProcessNum != null">
        cpu_process_num,
      </if>
      <if test="xinghao != null">
        xinghao,
      </if>
      <if test="netHostName != null">
        net_host_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mReId != null">
        #{mReId,jdbcType=BIGINT},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=BIGINT},
      </if>
      <if test="productModel != null">
        #{productModel,jdbcType=CHAR},
      </if>
      <if test="productDevice != null">
        #{productDevice,jdbcType=CHAR},
      </if>
      <if test="buildid != null">
        #{buildid,jdbcType=CHAR},
      </if>
      <if test="productBoard != null">
        #{productBoard,jdbcType=CHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=CHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=CHAR},
      </if>
      <if test="productCuptsm != null">
        #{productCuptsm,jdbcType=CHAR},
      </if>
      <if test="procVersion != null">
        #{procVersion,jdbcType=CHAR},
      </if>
      <if test="boardPlatForm != null">
        #{boardPlatForm,jdbcType=CHAR},
      </if>
      <if test="lcdDensity != null">
        #{lcdDensity,jdbcType=INTEGER},
      </if>
      <if test="versdk != null">
        #{versdk,jdbcType=CHAR},
      </if>
      <if test="fingerprint != null">
        #{fingerprint,jdbcType=CHAR},
      </if>
      <if test="pinpai != null">
        #{pinpai,jdbcType=CHAR},
      </if>
      <if test="cpuProcessNum != null">
        #{cpuProcessNum,jdbcType=BIGINT},
      </if>
      <if test="xinghao != null">
        #{xinghao,jdbcType=CHAR},
      </if>
      <if test="netHostName != null">
        #{netHostName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.common.pojo.PhoneInfoPO">
    update t_phone_info
    <set>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=BIGINT},
      </if>
      <if test="productModel != null">
        product_model = #{productModel,jdbcType=CHAR},
      </if>
      <if test="productDevice != null">
        product_device = #{productDevice,jdbcType=CHAR},
      </if>
      <if test="buildid != null">
        buildid = #{buildid,jdbcType=CHAR},
      </if>
      <if test="productBoard != null">
        product_board = #{productBoard,jdbcType=CHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=CHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=CHAR},
      </if>
      <if test="productCuptsm != null">
        product_cuptsm = #{productCuptsm,jdbcType=CHAR},
      </if>
      <if test="procVersion != null">
        proc_version = #{procVersion,jdbcType=CHAR},
      </if>
      <if test="boardPlatForm != null">
        board_plat_form = #{boardPlatForm,jdbcType=CHAR},
      </if>
      <if test="lcdDensity != null">
        lcd_density = #{lcdDensity,jdbcType=INTEGER},
      </if>
      <if test="versdk != null">
        versdk = #{versdk,jdbcType=CHAR},
      </if>
      <if test="fingerprint != null">
        fingerprint = #{fingerprint,jdbcType=CHAR},
      </if>
      <if test="pinpai != null">
        pinpai = #{pinpai,jdbcType=CHAR},
      </if>
      <if test="cpuProcessNum != null">
        cpu_process_num = #{cpuProcessNum,jdbcType=BIGINT},
      </if>
      <if test="xinghao != null">
        xinghao = #{xinghao,jdbcType=CHAR},
      </if>
      <if test="netHostName != null">
        net_host_name = #{netHostName,jdbcType=CHAR},
      </if>
    </set>
    where m_re_id = #{mReId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.common.pojo.PhoneInfoPO">
    update t_phone_info
    set model_id = #{modelId,jdbcType=BIGINT},
      product_model = #{productModel,jdbcType=CHAR},
      product_device = #{productDevice,jdbcType=CHAR},
      buildid = #{buildid,jdbcType=CHAR},
      product_board = #{productBoard,jdbcType=CHAR},
      product_name = #{productName,jdbcType=CHAR},
      manufacturer = #{manufacturer,jdbcType=CHAR},
      product_cuptsm = #{productCuptsm,jdbcType=CHAR},
      proc_version = #{procVersion,jdbcType=CHAR},
      board_plat_form = #{boardPlatForm,jdbcType=CHAR},
      lcd_density = #{lcdDensity,jdbcType=INTEGER},
      versdk = #{versdk,jdbcType=CHAR},
      fingerprint = #{fingerprint,jdbcType=CHAR},
      pinpai = #{pinpai,jdbcType=CHAR},
      cpu_process_num = #{cpuProcessNum,jdbcType=BIGINT},
      xinghao = #{xinghao,jdbcType=CHAR},
      net_host_name = #{netHostName,jdbcType=CHAR}
    where m_re_id = #{mReId,jdbcType=BIGINT}
  </update>
</mapper>