<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.common.mapper.RegisterUserMapper">
  <resultMap id="BaseResultMap" type="com.rpa.common.pojo.RegisterUserPO">
    <id column="re_uid" jdbcType="BIGINT" property="reUid" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="chan_name" jdbcType="CHAR" property="chanName" />
    <result column="versionname" jdbcType="CHAR" property="versionname" />
    <result column="buildrelease" jdbcType="CHAR" property="buildrelease" />
    <result column="manufacturer" jdbcType="CHAR" property="manufacturer" />
    <result column="androidmodel" jdbcType="CHAR" property="androidmodel" />
  </resultMap>
  <sql id="Base_Column_List">
    re_uid, phone, create_time, chan_name, versionname, buildrelease, manufacturer, androidmodel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_register_user
    where re_uid = #{reUid,jdbcType=BIGINT}
  </select>
  <select id="query" resultType="com.rpa.common.bo.UserBO">
    select
    u.phone, u.create_time as createTime, u.chan_name as chanName, u.versionname as versionName, u.buildrelease
    as buildRelease, u.manufacturer, u.androidmodel as androidModel
    from m_register_user u
    <where>
      <if test="phone!=null and phone!=''">AND u.phone like '%' #{phone} '%'</if>
    </where>
    order by u.create_time desc
  </select>
  <select id="queryAllPhone" resultType="java.lang.String">
  select phone from m_register_user
</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from m_register_user
    where re_uid = #{reUid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rpa.common.pojo.RegisterUserPO">
    insert into m_register_user (re_uid, phone, create_time,
      chan_name, versionname, buildrelease, 
      manufacturer, androidmodel)
    values (#{reUid,jdbcType=BIGINT}, #{phone,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{chanName,jdbcType=CHAR}, #{versionname,jdbcType=CHAR}, #{buildrelease,jdbcType=CHAR}, 
      #{manufacturer,jdbcType=CHAR}, #{androidmodel,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.common.pojo.RegisterUserPO">
    insert into m_register_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reUid != null">
        re_uid,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="chanName != null">
        chan_name,
      </if>
      <if test="versionname != null">
        versionname,
      </if>
      <if test="buildrelease != null">
        buildrelease,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="androidmodel != null">
        androidmodel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reUid != null">
        #{reUid,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chanName != null">
        #{chanName,jdbcType=CHAR},
      </if>
      <if test="versionname != null">
        #{versionname,jdbcType=CHAR},
      </if>
      <if test="buildrelease != null">
        #{buildrelease,jdbcType=CHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=CHAR},
      </if>
      <if test="androidmodel != null">
        #{androidmodel,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.common.pojo.RegisterUserPO">
    update m_register_user
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chanName != null">
        chan_name = #{chanName,jdbcType=CHAR},
      </if>
      <if test="versionname != null">
        versionname = #{versionname,jdbcType=CHAR},
      </if>
      <if test="buildrelease != null">
        buildrelease = #{buildrelease,jdbcType=CHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=CHAR},
      </if>
      <if test="androidmodel != null">
        androidmodel = #{androidmodel,jdbcType=CHAR},
      </if>
    </set>
    where re_uid = #{reUid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.common.pojo.RegisterUserPO">
    update m_register_user
    set phone = #{phone,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      chan_name = #{chanName,jdbcType=CHAR},
      versionname = #{versionname,jdbcType=CHAR},
      buildrelease = #{buildrelease,jdbcType=CHAR},
      manufacturer = #{manufacturer,jdbcType=CHAR},
      androidmodel = #{androidmodel,jdbcType=CHAR}
    where re_uid = #{reUid,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" parameterType="java.util.Collection">
    insert into m_register_user ( phone, create_time,chan_name, versionname, buildrelease,
    manufacturer, androidmodel)  values
    <foreach collection="collection" item="po" separator=",">
        (#{po.phone,jdbcType=CHAR}, #{po.createTime,jdbcType=TIMESTAMP},
      #{po.chanName,jdbcType=CHAR}, #{po.versionName,jdbcType=CHAR}, #{po.buildRelease,jdbcType=CHAR},
      #{po.manufacturer,jdbcType=CHAR}, #{po.androidModel,jdbcType=CHAR})
    </foreach>
  </insert>
</mapper>