<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpa.common.mapper.UserGiftsMapper">
  <resultMap id="BaseResultMap" type="com.rpa.common.pojo.UserGiftsPO">
    <id column="nug_id" jdbcType="INTEGER" property="nugId" />
    <result column="com_type_id" jdbcType="INTEGER" property="comTypeId" />
    <result column="com_type_name" jdbcType="CHAR" property="comTypeName" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    nug_id, com_type_id, com_type_name, `days`, `status`, a_id, create_time, update_time, 
    dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_gifts
    where nug_id = #{nugId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_gifts
    where nug_id = #{nugId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rpa.common.pojo.UserGiftsPO">
    insert into t_user_gifts (nug_id, com_type_id, com_type_name, 
      `days`, `status`, a_id, 
      create_time, update_time, dr
      )
    values (#{nugId,jdbcType=INTEGER}, #{comTypeId,jdbcType=INTEGER}, #{comTypeName,jdbcType=CHAR}, 
      #{days,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{aId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rpa.common.pojo.UserGiftsPO">
    insert into t_user_gifts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nugId != null">
        nug_id,
      </if>
      <if test="comTypeId != null">
        com_type_id,
      </if>
      <if test="comTypeName != null">
        com_type_name,
      </if>
      <if test="days != null">
        `days`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nugId != null">
        #{nugId,jdbcType=INTEGER},
      </if>
      <if test="comTypeId != null">
        #{comTypeId,jdbcType=INTEGER},
      </if>
      <if test="comTypeName != null">
        #{comTypeName,jdbcType=CHAR},
      </if>
      <if test="days != null">
        #{days,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rpa.common.pojo.UserGiftsPO">
    update t_user_gifts
    <set>
      <if test="comTypeId != null">
        com_type_id = #{comTypeId,jdbcType=INTEGER},
      </if>
      <if test="comTypeName != null">
        com_type_name = #{comTypeName,jdbcType=CHAR},
      </if>
      <if test="days != null">
        `days` = #{days,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="aId != null">
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where nug_id = #{nugId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rpa.common.pojo.UserGiftsPO">
    update t_user_gifts
    set com_type_id = #{comTypeId,jdbcType=INTEGER},
      com_type_name = #{comTypeName,jdbcType=CHAR},
      `days` = #{days,jdbcType=INTEGER},
      `status` = #{status,jdbcType=TINYINT},
      a_id = #{aId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where nug_id = #{nugId,jdbcType=INTEGER}
  </update>

  <select id="query" resultType="com.rpa.common.bo.UserGiftsBO">
    select ug.nug_id as nugId, ug.com_type_id as comTypeId, ug.com_type_name as comTypeName, ug.days, ug.status,
    ug.create_time as createTime, ug.update_time as updateTime, ug.a_id as aId, u.username
    from t_user_gifts ug
    left join t_admin_user u on ug.a_id = u.a_id
    where ug.dr = 1
    <if test="comTypeId != null and comTypeId != 0">
      and ug.com_type_id = #{comTypeId}
    </if>
    <if test="username != null and username != ''">
      and u.username like '%' #{username} '%'
    </if>
  </select>
  <select id="queryByStatus" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from t_user_gifts
    where `status` = #{status,jdbcType=TINYINT} and dr = 1
  </select>
</mapper>